#board-size { display: inline; }
#new-game { display: inline; }

#game-container{
  background: grey;
  border: 1px solid #000;
  clear: both;
  width: 400px;
  height: 400px;
}

.tile {
  color: #000;
  float: left;
  background: #BDBDBD;
  border: 1px solid #7B7B7B;
  width: 15px;
  height: 15px;
}

.untouched {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #7B7B7B;
  border-bottom: 2px solid #7B7B7B;
}

