table {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #7B7B7B;
  border-bottom: 2px solid #7B7B7B;
  background: #BDBDBD;
  border-spacing: 7px;
  border-collapse: separate;
}

#header{
  background: #BDBDBD;
  border-top: 2px solid #7B7B7B;
  border-left: 2px solid #7B7B7B;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

#game-container{
  background: #BDBDBD;
  border-top: 2px solid #7B7B7B;
  border-left: 2px solid #7B7B7B;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  clear: both;
  width: 400px;
  height: 400px;
}

.tile {
  float: left;
  width: 16px;
  height: 16px;
  background: #BDBDBD;
  border-left: 1px solid #7B7B7B;
  border-top: 1px solid #7B7B7B;
}

.untouched {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #7B7B7B;
  border-bottom: 2px solid #7B7B7B;
}

.pressed {
  border-left: 1px solid #7B7B7B;
  border-top: 1px solid #7B7B7B;
  border-right: 0;
  border-bottom: 0;
}

.mine { background: url('../img/mine.png'); }

.game-over { background: red url('../img/mine.png'); }

.one { background: url('../img/one.png'); }

.two { background: url('../img/two.png'); }

.three { background: url('../img/three.png'); }

.four { background: url('../img/four.png'); }

.five { background: url('../img/five.png'); }

.flag1 { background: url('../img/flag1.png'); }

.flag2 { background: url('../img/flag2.png'); }
